<app-navigation-bar></app-navigation-bar>

<form [formGroup]="editFormGroup" (submit)="submit()" class="form-group-lg">
  <div class="form-banner">
    <h3>Edit Movie Entry</h3>
  </div>
  <!-- <div class="form-cat-banner">
      <h4>Movies</h4><input class="search-bar" type="search">
    </div>
    <div class="movie-container">
      <div class="movie-selection-container">

      </div>
     </div> -->
  <div class="main-form-container">
    <div class="main-form-container-row">
      <label class="form-check-label">Movie id</label>
      <input formControlName="id" class="form-control" type="text" placeholder="Im a placeholder" readonly>
    </div>

    <div class="main-form-container-row">
      <label class="form-check-label">Movie Title</label>
      <input formControlName="title" class="form-control" type="text" placeholder="Im a placeholder">
    </div>

    <div class="main-form-container-row">
      <label class="form-check-label">Trailer</label>
      <input class="form-control" formControlName="trailer" type="text" placeholder="Im a placeholder">
    </div>
    <div class="form-group">
      <div class="main-form-container-row">
        <label class="form-check-label">Poster Path</label>

        <input formControlName="poster" class="form-control" type="text" placeholder="Im a placeholder">
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Showings</label>
        <input formControlName="showings" class="form-control" type="text" placeholder="Im a placeholder">
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Poster</label>
        <input formControlName="poster" class="form-control" type="text" placeholder="Im a placeholder">

      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Backdrop</label>
        <input formControlName="backdrop" class="form-control" type="text" placeholder="Im a placeholder">
      </div>

      <div class="main-form-container-row">
        <label class="form-check-label">Subbed</label>
        <input class="form-control" formControlName="subbed" type="checkbox" placeholder="Im a placeholder">
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Dubbed</label>
        <input class="form-control" formControlName="dubbed" type="checkbox" placeholder="Im a placeholder">
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Theater URL</label>
        <input class="form-control" formControlName="theaterUrl" type="text" placeholder="Im a placeholder">
      </div>
    </div>
    <div class="sub-header"><h4>Ratings</h4></div>
    <div class="ratings-container" formGroupName="ratingsGroup">

      <label>
        <input value="G" type="radio" formControlName="ratings">
        <span>Rating:G</span>
      </label>
      <label>
        <input value="R" type="radio" formControlName="ratings">
        <span>Rating:R</span>
      </label>
      <label>
        <input value="Pg" type="radio" formControlName="ratings">
        <span>Rating:Pg</span>
      </label>
      <label>
        <input value="Pg13" type="radio" formControlName="ratings">
        <span>Rating:Pg-13</span>
      </label>
      <label>
        <input value="NA" type="radio" formControlName="ratings">
        <span>Rating:NA</span>
      </label>
    </div>
    <br>
    <button class="btn btn-primary">Submit</button>

  </div>

</form>
