<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">AnimeO</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  mr-auto" >
      <li class="nav-item "><a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/entries" routerLinkActive="active">Entries</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/edit" routerLinkActive="active">Edit</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a></li>

    </ul>
  </div>
</nav>
