<app-navigation-bar></app-navigation-bar>
<form [formGroup]="userInputForm" (ngSubmit)="submit()" class="form-group-lg">
  <div class="form-banner">
    <h3>New Movie Entry</h3>
  </div>
  <div class="form-cat-banner">
    <h4>Movies</h4>
    <input class="search-bar" (keyup.enter)="search()" formControlName="searchBar" type="search" placeholder="search">
    <span>
      <input (click)="search()" class="btn btn-primary" type="button" value="Search">
    </span>
  </div>
  <div class="movie-container">
    <div class="movie-selection-container">
      <div  *ngFor="let movie of movies$ | async; let i = index" (click)="selectedMovie($event,movie)" data-id="{{i}}" class="movie-tile">
        {{movie.title}}
      </div>
    </div>
  </div>
  <div class="main-form-container">
    <div class="main-form-container-row">
      <label class="form-check-label">Movie Title</label>
      <input formControlName="movieTitle" class="form-control" type="text" placeholder="Im a placeholder" readonly>
    </div>
    <div class="invalid-message">
      <span *ngIf="!userInputForm.get('movieTitle').valid">Input Invalid</span>
    </div>
    <div class="main-form-container-row">
      <label class="form-check-label">Movie Id</label>
      <input formControlName="movieId" class="form-control" type="text" placeholder="Im a placeholder" readonly>
    </div>
    <div class="invalid-message">
      <span *ngIf="!userInputForm.get('movieId').valid">Input Invalid</span>
    </div>
    <div class="main-form-container-row">
      <label class="form-check-label">Pick Showing Dates</label>
      <input class="form-control" formControlName="showDates" type="text" placeholder="Im a placeholder">
    </div>
    <div class="invalid-message">
      <span *ngIf="!userInputForm.get('showDates').valid">Input Invalid Please Seperate Dates With A Comma</span>
    </div>
    <div class="form-group">
      <div class="main-form-container-row">
        <label class="form-check-label">Poster Path</label>

        <input formControlName="posterPath" class="form-control" type="text" placeholder="Im a placeholder" readonly>
      </div>
      <div class="invalid-message">
        <span *ngIf="!userInputForm.get('posterPath').valid">Input Invalid</span>
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Backdrop Path</label>
        <input formControlName="backDropPath" class="form-control" type="text" placeholder="Im a placeholder" readonly>
      </div>
      <div class="invalid-message">
        <span *ngIf="!userInputForm.get('backDropPath').valid">Input Invalid</span>
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Offers English Dubbed</label>
        <input formControlName="englishDubbed" class="form-control" type="checkbox" placeholder="Im a placeholder">

      </div>
      <div class="invalid-message">
        <span *ngIf="!userInputForm.get('englishDubbed').valid">Input Invalid</span>
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Offers English Subbed</label>
        <input formControlName="englishSubbed" class="form-control" type="checkbox" placeholder="Im a placeholder">
      </div>
      <div class="invalid-message">
        <span *ngIf="!userInputForm.get('englishSubbed').valid">Input Invalid</span>
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">YouTube Trailer Url</label>
        <input class="form-control" formControlName="youTubeLink" type="text" placeholder="Im a placeholder">
      </div>
      <div class="invalid-message">
        <span *ngIf="!userInputForm.get('youTubeLink').valid">Input Invalid</span>
      </div>
      <div class="main-form-container-row">
        <label class="form-check-label">Theater Url</label>
        <input class="form-control" formControlName="theaterUrl" type="text" placeholder="Im a placeholder">
      </div>
      <div class="invalid-message">
        <span *ngIf="!userInputForm.get('theaterUrl').valid">Input Invalid</span>
      </div>
    </div>
    <div class="main-form-container-row">
      <label class="form-check-label">Overview</label>
      <input formControlName="overview" class="form-control" type="text" placeholder="Im a placeholder">
    </div>
    <div class="invalid-message">
      <span *ngIf="!userInputForm.get('overview').valid">Input Invalid</span>
    </div>
    <div class="sub-header"><h4>Ratings</h4></div>
    <div class="ratings-container" formGroupName="ratingsGroup">

      <label>
        <input value="G" type="radio" formControlName="ratings">
        <span>Rating:G</span>
      </label>
      <label>
        <input value="R" type="radio" formControlName="ratings">
        <span>Rating:R</span>
      </label>
      <label>
        <input value="Pg" type="radio" formControlName="ratings">
        <span>Rating:Pg</span>
      </label>
      <label>
        <input value="Pg13" type="radio" formControlName="ratings">
        <span>Rating:Pg-13</span>
      </label>
      <label>
        <input value="NA" type="radio" formControlName="ratings">
        <span>Rating:NA</span>
      </label>
    </div>
    <br>
    <button [disabled]='!userInputForm.valid' class="btn btn-primary" type="submit">Review</button>
    <!-- <button [disabled]='!userInputForm.valid' (click)='saveChanges()' class="btn btn-primary" type="button">Save</button> -->

    <button [disabled]='!userInputForm.valid' (click)='addToCart()' class="btn btn-primary" type="button">Add To Cart</button>



  </div>

</form>
<app-footer></app-footer>
<!-- <app-working-screen  [hide]="hideWorking" ></app-working-screen> -->
